.crbc-customer-profile-billing-information input[type=text], 
.crbc-customer-profile-billing-information input[type=password], 
.crbc-customer-profile-billing-information textarea, 
.crbc-customer-profile-billing-information .uneditable-input,
.crbc-customer-profile-shipping-information input[type=text], 
.crbc-customer-profile-shipping-information input[type=password], 
.crbc-customer-profile-shipping-information textarea, 
.crbc-customer-profile-shipping-information .uneditable-input {
    width: 90%;
    outline: none;
}

.crbc-customer-profile-billing-information select,
.crbc-customer-profile-shipping-information select{
    width: 95%;
    outline: none;
}

.crbc-customer-profile-shipping-disabled{
    display: none;
}

.crbc-customer-profile-shipping-enabled{
    display: block;
}

.crbc-customer-profile-method-save-button{
    margin-bottom: 20px;
}

.crbc-customer-profile-error{
    color: #b94a48;
}

.crbc-customer-profile-login-header{
    display: none;
}

.crbc-customer-profile-single-page > ul{
    list-style:none;
    margin:0;
    padding:0;
}

.crbc-customer-profile-single-page ul > li > .crbc-row{
    display: none;
    margin-bottom: 12px;
    margin-top: 12px;
}

.crbc-customer-profile-single-page ul > li:first-child > .crbc-row{
    display: block;
}


.crbc-customer-profile-single-page .nav > li > a:hover, 
.crbc-customer-profile-single-page .nav > li > a {
    text-decoration: none;
    border: 1px solid #eee;
}

.crbc-registered-partial, 
.crbc-registration-error-wrap,
.crbc-payment-error{
    display: none;
}

.crbc-control-label{
    font-size: 1.2em;
}


.crbc-cart-final{
    position: relative;
    float: right;
    width: 33%;
}

.crbc-cart-tax-block{
    
    width: 100%;
}

.crbc-cart-final-left, .crbc-cart-final-right{
    
    display: inline-block;
    margin-bottom: 15px;
}

.crbc-cart-final-left{
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 20px;
}

.crbc-cart-final-right{
    float: right;
}
