.crbc-file-size{
    margin-top: 10px;
    padding-bottom: 10px;
}

.crbc-files-page .crbc-well{
    crcb-min-height: 200px !important;
}

.crbc-file{
    position: relative;
}

.crbc-file-download-link{
    display: inline-block;
}

/*
.crbc-file-controls{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    padding-bottom: 10px;
}*/

.crbc-file-valid{
    
}

.crbc-file-header{
    padding-bottom: 10px;
}